<?xml version="1.0"?>

<launch>
  <arg name="plugin_set" default="spot_plugin_sets_lattice_planning"/>
  <arg name="rviz" default="False"/>

  <include file="$(dirname)/footstep_planner_lattice.launch">
    <arg name="plugin_set" value="$(arg plugin_set)"/>
  </include>
  <include file="$(find step_plan_converter)/launch/step_plan_converter.launch"/>
  <include file="$(find traversability_map_generator)/launch/grid_map_merger.launch"/>
  <include file="$(dirname)/rviz.launch" if="$(arg rviz)"/>
</launch>
